

@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce&family=Inter:wght@100..900&family=Shadows+Into+Light&display=swap');

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} */

body{
    background-color: hsl(0, 0%, 8%);
    min-height: 100vh;
    font-family: inter  ;
    display: grid;
    place-content: center ;
}
  .card{ 
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    padding: 2rem ;
    max-width: 400px;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
  }
img{
    border-radius: 100px;
    width: 100px;
}

.card .y{
    color: hsl(75, 94%, 57%); 
    font-weight: 700;
}
 
 .card ul{
margin-top: 30px;

}

.card ul li{ 
    margin-bottom: 20px;
    list-style-type: none;
    
}

.card ul li a {
    text-decoration: none;
    display: block;
    background-color: hsl(0, 0%, 20%);
    color:  hsl(0, 0%, 100%);
    padding:20px ;
    font-weight: 500;
    border-radius: 5rem;
}

.card ul li a:hover{
    background: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}